html,
body {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 雅痞-繁 標準體;
    background-color: #FFFFFF;
}

#bodyDiv {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#headDiv {
    text-align: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
    background-image: url('../images/background.png');
    background-size: 80%;
}

#logo {
    margin: auto;
    margin-top: 15px;
    width: 18%;
    /*background-color: #FFFFFF;*/
}

#headDivSearch {
    text-align: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#search {
    display: inline;
    vertical-align: middle;
    width: 1.5%;
}

#searchText {
    display: inline;
    vertical-align: middle;
    height: 20px;
    width: 230px;
    margin-left: 10px;
    border: 1px solid #BEB8DB;
    outline: none;
    padding: 3px 3px 3px 3px;
    font-family: 雅痞-繁 標準體;
}

#listDiv {
    text-align: center;
    width: 100%;

}

#listNav {
    margin: auto;
    background-color: transparent;
    border: 0px;
    width: 90%;
}



#listUL {
    border-top: 1px solid #BEB8DB;
    border-bottom: 1px solid #BEB8DB;
    text-align: center;
    width: 90%;
    margin: 0px auto 0px auto;
}

.navbar-nav>li>a {
    padding: 5px 0px 5px 0px;
}

.listLI {
    text-align: center;
    font-size: 20px;
    margin: 10px 2% 10px 2.8%;
    font-family: 雅痞-繁 標準體;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.navbar-center {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-collapse-center {
    text-align: center;
}