#myCarousel {
    margin: 20px auto 0px auto;
    width: 58%;
}

.item {
    width: 100%;
    margin: auto;
}

.productShow {
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 15px 0px 35px 0px;
}

.productShowTitle {
    font-size: 19px;
}

.productShowImageDiv01 {
    display: inline-block;
    width: 10%;
    margin: 10px 3% 0px 2%;
}

.productShowImageDiv01Image {
    width: 100%;
}

.productShowImageDiv02 {
    display: inline-block;
    width: 20%;
    margin: 10px 2% 0px 10px;
}

.productShowImageDiv02Image {
    width: 100%;
}




